<% now = Time.zone.now %>

<div class="page-header">
  <h1>イベント情報編集</h1>
</div>

<%= form_for(@event, class: 'form-horizontal', role: 'form') do |f| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :place %>
    <%= f.text_field :place, class: 'form-control' %>
  </div>
  <div class="form-group">
    <% if @event.event_image? %>
      <div class="thumbnail">
        <%= image_tag @event.event_image.url %>
      </div>
    <% end %>
    <%= f.file_field :event_image %>
    <%= f.hidden_field :event_image_cache %>
  </div>
  <% if @event.event_image? %>
    <div class="checkbox">
      <label>
        <%= f.check_box :remove_event_image %>
        画像を削除する
      </label>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :start_time %>
    <div>
      <%= f.datetime_select :start_time, start_year: now.year, end_year: now.year + 1 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_time %>
    <div>
      <%= f.datetime_select :end_time, start_year: now.year, end_year: now.year + 1 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', row: 10 %>
  </div>

  <%= f.submit '更新', class: 'btn btn-default', data: { disable_with: '更新中…' } %>
<% end %>

