<div class="page-header">
  <h1>
    <%= @event.name %>
  </h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    主催者
  </div>
  <div class="panel-body">
    <%= link_to("https://twitter.com/#{@event.owner.nickname}") do %>
      <%= image_tag @event.owner.image_url %>
      <%= "@#{@event.owner.nickname}" %>
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    開催時間
  </div>
  <div class="panel-body">
    <%= @event.start_time.strftime('%Y/%m/%d %H:%M') %> - <%= @event.end_time.strftime('%Y/%m/%d %H:%M') %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    開催場所
  </div>
  <div class="panel-body">
    <%= @event.place %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    イベント内容
  </div>
  <div class="panel-body">
    <%= @event.content %>
  </div>
</div>
