<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeEvents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'AwesomeEvents', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'イベントを作る', new_event_path %></li>
          <% if logged_in? %>
            <li><%= link_to 'ログアウト', logout_path %></li>
          <% else %>
            <li><%= link_to 'twitterでログイン', '/auth/twitter' %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
